html, body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
header {
  background: #FF6459;
  color: white;
  padding: 10rem 0;
  text-align: center;
}
h1 {
  font-size: 5rem;
  font-weight: 900;
}
h4 {
  font-style: italic;
}
a {
  border-bottom: 2px solid #ccc;
  color: #ccc;
  text-decoration: none;
}
a:hover {
  border-bottom-color: #3e4953;
}
.article-link {
  color: black;
}
.container {
  clear: both;
  display: block;
  margin: 0 auto;
  width: 60%;
}

/* nav bar, unfixed */
.nav {
  padding: 2rem 0;
}
nav a {
  border-bottom: none;
}
.filter-button {
  border: 2px solid white;
  border-radius: 0.5rem;
  color: white;
  display: inline-block;
  margin: 0 2rem;
  padding: 1rem 2rem;
}
.filter-button:hover {
  background-color: white;
  color: black;
}

/* nav bar, fixed */
.fixed {
  background-color: rgba(255, 255, 255, 0.75);
  padding: 1rem 0;
  position: fixed;
  text-align: center;
  top: 0;
  width: 100%;
  z-index: 999;
}
.fixed .filter-button {
  border-color: black;
  color: black;
  margin: 0 0.75rem;
  padding: 0.5rem 1rem;
}
.fixed .filter-button:hover {
  background-color: black;
  color: white;
}

.time-span {
  border-bottom: 1px solid #E0E0E0;
  padding: 2rem 0;
}

/* Footer */
.footer {
  background-color: #3e4953;
  clear: both;
  color: white;
  overflow: auto;
  padding: 4rem 0;
  width: 100%;
}
.left {
  display: block;
  float: left;
}
.right {
  display: block;
  float: right;
}
footer a:hover {
  border-bottom-color: white;
}


/* Responsive Columns */
.grid {
  margin-left: -3%;
  max-width: 105%;
}

.unit {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  vertical-align: top;
  margin-left: 3%;
  margin-right: -.25em;
  /* Clearfix */
  overflow: hidden;
  *overflow: visible;
}

/* span page */
.span-grid { width: 97%; }

/* two columns */
.one-of-two { width: 47%; }

/* three columns */
.one-of-three { width: 30.36%; }
.two-of-three { width: 63.666666666%; }

/* four columns */
.one-of-four { width: 22.05%; }
.three-of-four { width: 72%; }

/* five columns */
.one-of-five { width: 17.07%; }
.two-of-five { width: 37%; }
.three-of-five { width: 57%; }
.four-of-five { width: 77%; }

/* media queries */
@media screen and (max-width: 650px) {
 .grid {
   margin-left: 0;
   max-width: none;
 }

 .unit {
   width: auto;
   margin-left: 0;
   display: block;
 }
}