{% extends "layout.html" %}

{% block body %}
<header style="background-color:{{ header_color }}">
  <h2>{{ date }}</h2>
  <h1>Bwog Is {{ mood|safe }}</h1>
  <div id="nav-phantom"></div>
  <nav>
    <a href="#daily"><div class="nav-button">Daily</div></a>
    <a href="#weekly"><div class="nav-button">Weekly</div></a>
    <a href="#monthly"><div class="nav-button">Monthly</div></a>
    <a href="#yearly"><div class="nav-button">Yearly</div></a>
  </nav>
</header>

<section class="container">
  <div class="grid">
    <div id="daily" class="time-span">
      <div class="unit span-grid">
        <h2>Daily Sentiments</h2>
      </div>
      <div class="unit one-of-three">
        <h3><a href="/" class="article-link">Article 1 Title Here</a></h3>
        <h4>Sentiment Here</h4>
        <article>
          <a href="{{ day.comment1_url }}"><p>{{ day.comment1 }}</p></a>
        </article>
      </div>
      <div class="unit one-of-three">
        <h3><a href="/" class="article-link">Article 2 Title Here</a></h3>
        <h4>Sentiment Here</h4>
        <article>
          <a href="{{ day.comment2_url }}"><p>{{ day.comment2 }}</p></a>
        </article>
      </div>
      <div class="unit one-of-three">
        <h3><a href="/" class="article-link">Article 3 Title Here</a></h3>
        <h4>Sentiment Here</h4>
        <article>
          <a href="{{ day.comment3_url }}"><p>{{ day.comment3 }}</p></a>
        </article>
      </div>
    </div>

    <div id="weekly" class="time-span">
      <div class="unit span-grid">
        <h2>Weekly Sentiments</h2>
      </div>
      <div class="unit one-of-two">
        <h3><a href="/" class="article-link">Article 1 Title Here</a></h3>
        <h4>Sentiment Here</h4>
        <p>Article quotes here blah blah blah blah</p>
      </div>
      <div class="unit one-of-two">
        <h3><a href="/" class="article-link">Article 2 Title Here</a></h3>
        <h4>Sentiment Here</h4>
        <p>Article quotes here blah blah blah blah</p>
      </div>
    </div>

    <div id="monthly" class="time-span">
      <div class="unit span-grid">
        <h2>Monthly Sentiments</h2>
      </div>
      <div class="unit one-of-two">
        <h3><a href="/" class="article-link">Article 1 Title Here</a></h3>
        <h4>Sentiment Here</h4>
        <p>Article quotes here blah blah blah blah</p>
      </div>
      <div class="unit one-of-two">
        <h3><a href="/" class="article-link">Article 2 Title Here</a></h3>
        <h4>Sentiment Here</h4>
        <p>Article quotes here blah blah blah blah</p>
      </div>
    </div>

    <div id="yearly" class="time-span">
      <div class="unit span-grid">
        <h2>Yearly Sentiments</h2>
      </div>
      <div class="unit one-of-two">
        <h3><a href="/" class="article-link">Article 1 Title Here</a></h3>
        <h4>Sentiment Here</h4>
        <p>Article quotes here blah blah blah blah</p>
      </div>
      <div class="unit one-of-two">
        <h3><a href="/" class="article-link">Article 2 Title Here</a></h3>
        <h4>Sentiment Here</h4>
        <p>Article quotes here blah blah blah blah</p>
      </div>
    </div>
  </div>
</section>
{% endblock %}