{% extends "layout.html" %}

{% block body %}
<header style="background-color:{{ header_color }}">
  <h2>{{ date }}</h2>
  <h1>Bwog Is {{ mood|safe }}</h1>
  <div id="nav-phantom"></div>
  <nav>
    <a href="/days"><div class="nav-button">Daily</div></a>
    <a href="/weeks"><div class="nav-button">Weekly</div></a>
    <a href="/months"><div class="nav-button">Monthly</div></a>
    <a href="/years"><div class="nav-button">Yearly</div></a>
  </nav>
</header>

<section class="container">
  <div class="grid">
    <div id="daily" class="time-span">
      <div class="unit span-grid">
        <h2>Daily Sentiments</h2>
      </div>
      <div class="unit one-of-three">
        <h3><a href="{{ day.comment1_url }}" class="article-link">{{ day.comment1_title }}</a></h3>
        <h4>{{ get_sentiments(day.comment1) }}</h4>
        <article>
          <p>{{ day.comment1 }}</p>
        </article>
      </div>
      <div class="unit one-of-three">
        <h3><a href="{{ day.comment2_url }}" class="article-link">{{ day.comment2_title }}</a></h3>
        <h4>{{ get_sentiments(day.comment2) }}</h4>
        <article>
          <p>{{ day.comment2 }}</p>
        </article>
      </div>
      <div class="unit one-of-three">
        <h3><a href="{{ day.comment3_url }}" class="article-link">{{ day.comment3_title }}</a></h3>
        <h4>{{ get_sentiments(day.comment3) }}</h4>
        <article>
          <p>{{ day.comment3 }}</p>
        </article>
      </div>
    </div>

    <div id="weekly" class="time-span">
      <div class="unit span-grid">
        <h2>Weekly Sentiments</h2>
      </div>
      <div class="unit one-of-three">
        <h3><a href="{{ week.comment1_url }}" class="article-link">{{ week.comment1_title }}</a></h3>
        <h4>{{ get_sentiments(week.comment1) }}</h4>
        <article>
          <p>{{ week.comment1 }}</p>
        </article>
      </div>
      <div class="unit one-of-three">
        <h3><a href="{{ week.comment2_url }}" class="article-link">{{ week.comment2_title }}</a></h3>
        <h4>{{ get_sentiments(week.comment2) }}</h4>
        <article>
          <p>{{ week.comment2 }}</p>
        </article>
      </div>
      <div class="unit one-of-three">
        <h3><a href="{{ week.comment3_url }}" class="article-link">{{ week.comment3_title }}</a></h3>
        <h4>{{ get_sentiments(week.comment3) }}</h4>
        <article>
          <p>{{ week.comment3 }}</p>
        </article>
      </div>
    </div>

    <div id="monthly" class="time-span">
      <div class="unit span-grid">
        <h2>Monthly Sentiments</h2>
      </div>
      <div class="unit one-of-three">
        <h3><a href="{{ month.comment1_url }}" class="article-link">{{ month.comment1_title }}</a></h3>
        <h4>{{ get_sentiments(month.comment1) }}</h4>
        <article>
          <p>{{ month.comment1 }}</p>
        </article>
      </div>
      <div class="unit one-of-three">
        <h3><a href="{{ month.comment2_url }}" class="article-link">{{ month.comment2_title }}</a></h3>
        <h4>{{ get_sentiments(month.comment2) }}</h4>
        <article>
          <p>{{ month.comment2 }}</p>
        </article>
      </div>
      <div class="unit one-of-three">
        <h3><a href="{{ month.comment3_url }}" class="article-link">{{ month.comment3_title }}</a></h3>
        <h4>{{ get_sentiments(month.comment3) }}</h4>
        <article>
          <p>{{ month.comment3 }}</p>
        </article>
      </div>
    </div>

    <div id="yearly" class="time-span">
      <div class="unit span-grid">
        <h2>Yearly Sentiments</h2>
      </div>
      <div class="unit one-of-three">
        <h3><a href="{{ year.comment1_url }}" class="article-link">{{ year.comment1_title }}</a></h3>
        <h4>{{ get_sentiments(year.comment1) }}</h4>
        <article>
          <p>{{ year.comment1 }}</p>
        </article>
      </div>
      <div class="unit one-of-three">
        <h3><a href="{{ year.comment2_url }}" class="article-link">{{ year.comment2_title }}</a></h3>
        <h4>{{ get_sentiments(year.comment2) }}</h4>
        <article>
          <p>{{ year.comment2 }}</p>
        </article>
      </div>
      <div class="unit one-of-three">
        <h3><a href="{{ year.comment3_url }}" class="article-link">{{ year.comment3_title }}</a></h3>
        <h4>{{ get_sentiments(year.comment3) }}</h4>
        <article>
          <p>{{ year.comment3 }}</p>
        </article>
      </div>
    </div>
  </div>
</section>
{% endblock %}