<!DOCTYPE html>

<html lang="en">
  <head>
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
  </head>

  <body>
    <div class="wrapper">
      <!-- <nav class="filter">
        <ul>
          <a href="#daily"><li class="filter-button">Daily</li></a>
          <a href="#weekly"><li class="filter-button">Weekly</li></a>
          <a href="#monthly"><li class="filter-button">Monthly</li></a>
          <a href="#yearly"><li class="filter-button">Yearly</li></a>
        </ul>
      </nav> -->
      <header>
        <h2>March 6, 2015</h2>
        <h1>Bwog is Happy</h1>
        <nav class="filter">
          <a href="#daily"><div class="filter-button">Daily</div></a>
          <a href="#weekly"><div class="filter-button">Weekly</div></a>
          <a href="#monthly"><div class="filter-button">Monthly</div></a>
          <a href="#yearly"><div class="filter-button">Yearly</div></a>
        </nav>
      </header>
      <section class="container">
        <div class="grid">
          <div id="daily" class="time-span">
            <div class="unit span-grid">
              <h2>Daily Sentiments</h2>
            </div>
            <div class="unit one-of-two">
              <h3><a href="/" class="article-link">Article 1 Title Here</a></h3>
              <h4>Sentiment Here</h4>
              <p>Article quotes here blah blah blah blah</p>
            </div>
            <div class="unit one-of-two">
              <h3><a href="/" class="article-link">Article 2 Title Here</a></h3>
              <h4>Sentiment Here</h4>
              <p>Article quotes here blah blah blah blah</p>
            </div>
          </div>

          <div id="weekly" class="time-span">
            <div class="unit span-grid">
              <h2>Weekly Sentiments</h2>
            </div>
            <div class="unit one-of-two">
              <h3><a href="/" class="article-link">Article 1 Title Here</a></h3>
              <h4>Sentiment Here</h4>
              <p>Article quotes here blah blah blah blah</p>
            </div>
            <div class="unit one-of-two">
              <h3><a href="/" class="article-link">Article 2 Title Here</a></h3>
              <h4>Sentiment Here</h4>
              <p>Article quotes here blah blah blah blah</p>
            </div>
          </div>

          <div id="monthly" class="time-span">
            <div class="unit span-grid">
              <h2>Monthly Sentiments</h2>
            </div>
            <div class="unit one-of-two">
              <h3><a href="/" class="article-link">Article 1 Title Here</a></h3>
              <h4>Sentiment Here</h4>
              <p>Article quotes here blah blah blah blah</p>
            </div>
            <div class="unit one-of-two">
              <h3><a href="/" class="article-link">Article 2 Title Here</a></h3>
              <h4>Sentiment Here</h4>
              <p>Article quotes here blah blah blah blah</p>
            </div>
          </div>

          <div id="yearly" class="time-span">
            <div class="unit span-grid">
              <h2>Yearly Sentiments</h2>
            </div>
            <div class="unit one-of-two">
              <h3><a href="/" class="article-link">Article 1 Title Here</a></h3>
              <h4>Sentiment Here</h4>
              <p>Article quotes here blah blah blah blah</p>
            </div>
            <div class="unit one-of-two">
              <h3><a href="/" class="article-link">Article 2 Title Here</a></h3>
              <h4>Sentiment Here</h4>
              <p>Article quotes here blah blah blah blah</p>
            </div>
          </div>
        </div>
      </section>
      <footer class="footer">
        <div class="container">
          <p class="left">Maintained by <a href="https://adicu.com/labs">ADI Labs</a></p>
          <p class="right"><a href="mailto:labs@adicu.com?subject=[ADI Sentiment]">Report a bug or suggest a feature</a></p>
        </div>
      </footer>
    </div>

    <script>
       $(document).ready(function(){
         $(window).bind('scroll', function() {
         var navHeight = $( window ).height() - 55;
           if ($(window).scrollTop() > navHeight) {
             $('nav').addClass('fixed');
           }
           else {
             $('nav').removeClass('fixed');
           }
        });
      });
    </script>
  </body>
</html>