<!DOCTYPE html>

<html lang="en">
  <head>
    {% block head %}
    <title>Sentiment</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.3/themes/smoothness/jquery-ui.css" />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.3/jquery-ui.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/resources.js') }}"></script>
    {% endblock %}
  </head>

  <body>
    <div class="wrapper">
      {% block body %}{% endblock %}
      <footer class="footer">
        <div class="container">
          <p class="left">Maintained by <a href="https://adicu.com/labs">ADI Labs</a></p>
          <p class="right"><a href="mailto:labs@adicu.com?subject=[ADI Sentiment]">Report a bug or suggest a feature</a></p>
        </div>
      </footer>
    </div>
  </body>
</html>