<!DOCTYPE html>

<html lang="en">
  <head>
    <link rel="stylesheet" type="text/css" href="static/css/teststyle.css">
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
  </head>

  <body>
    <div class="wrapper">
      <header>
        <h2>March 6, 2015</h2>
        <h1>Bwog is Happy</h1>
      </header>

      <section class="container">
        <div class="grid">
          <div class="unit one-of-two">
            <a href="/">Article 1</a>
            <h3>Sentiment</h3>
            <p>Article quotes here blah blah blah blah</p>
          </div>
          <div class="unit one-of-two">
            <a href="/">Article 2</a>
            <h3>Sentiment Here</h3>
            <p>Article quotes here blah blah blah blah</p>
          </div>
        </div>
      </section>
    </div>
  </body>
</html>